
a {
  color: blue;/*封底链接颜色*/
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  color: red;/*封底链接划过来的颜色*/
  text-decoration: underline;
}



/*------------------------------------*\
  #GENERIC-NORMALIZE
\*------------------------------------*/
* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {/*左上角logo等*/
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}



article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
  font-family: "Open Sans", sans-serif;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: '';
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  color: #1f5ea8;
  text-decoration: none;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {/*似乎没用*/
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  font-family: "Open Sans", sans-serif;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
  font-family: "Open Sans", sans-serif;
}

/*---------------------------------------------------------
-
- Zywave UI Core-layout - Layout
-
----------------------------------------------------------*/
.zl-gradient-overlay {
  display: none;
  width: 100%;
  height: calc(100% + 50px);
  background: rgba(0, 0, 0, 0.65);
  position: fixed;
  z-index: 1000;
  top: -50px;
}
.zl-gradient-overlay.is-visible {
  display: block;
}

.zl-shell {/*似乎没用*/
  float: left;
  width: 100%;
  height: 100%;
  background: #f4f4f4;
  font-family: "Open Sans", sans-serif;
  position: relative;
  z-index: 5000;
}
.zl-shell.no-app-shell .zl-topbar {
  display: none;
}
.zl-shell.no-app-shell .zl-main {
  top: 0;
  margin: 10px 0;
}
.zl-shell.no-app-shell .zl-sidebar {
  display: none;
}
.zl-shell.no-app-shell .zl-content {
  width: 100%;
  margin-left: 0;
}
.zl-shell.no-app-shell .zl-footer {
  margin-left: 0;
  width: 100%;
}

.zl-main {
  float: left;
  width: 100%;
  position: absolute;
  top: 50px;
  z-index: 1000;
}
.zl-main.no-sidebar .zl-sidebar {
  display: none;
}
.zl-main.no-sidebar .zl-content {
  width: 100%;
  margin-left: 0;
}
.zl-main.no-sidebar .zl-footer {
  margin-left: 0;
  width: 100%;
}
.zl-main.no-sidebar .zl-footer .shell-footer {
  padding-left: 0;
}
.zl-main.is-top {
  z-index: 1010;
}
@media screen and (min-width: 768px) {
  .zl-main {
    top: 60px;
    z-index: 1000;
  }
}
@media screen and (min-width: 1280px) {
  .zl-main {
    top: 80px;
  }
}

.zl-sidenav {
  height: 100%;
}

.zl-wrapper {
  max-width: 1280px;/*右边内容区的大小，如果太小就变成竖着的了*/
  margin: 0 auto;
  width: 100%;
  padding: 0 20px;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.zl-page {
  padding: 20px;
}
@media screen and (max-width: 1024px) {
  .zl-page {
    max-width: 1280px;
  }
}
.zl-page--header {
  margin-bottom: 50px;
}
.zl-page--content {
  margin-bottom: 20px;
}

/*---------------------------------------------------------
-
- Zywave UI Core-Layout: Top Bar
-
----------------------------------------------------------*/
.zl-topbar {
  float: left;
  width: 100%;
  height: 50px;
  background:#000000;/*改变上方题头颜色*/
  position: fixed;
  top: 0;
  z-index: 1001;
  padding: 0 5px;
}
@media screen and (min-width: 768px) {
  .zl-topbar {
    height: 60px;
    padding: 0 20px;
  }
}
@media screen and (min-width: 1280px) {
  .zl-topbar {
    height: 80px;
  }
}
.zl-topbar.box-shadow {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
}
.zl-topbar .app-info {/*题头相关，去除后则题头在中间*/
  width: 100%;
  height: 100%;
  float: left;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
}
@media screen and (min-width: 768px) {
  .zl-topbar .app-info {
    -webkit-box-pack: justify;
            justify-content: space-between;
    width: auto;
  }
}
.zl-topbar .app-info .home-link {
  text-decoration: none;
  color: red;/*这里控制题头文字的颜色*/
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  opacity: .85;
  -webkit-transition: .2s ease;
  transition: .2s ease;
}
.zl-topbar .app-info .home-link:hover {
  opacity: 1;
  -webkit-transition: .2s ease;
  transition: .2s ease;
}

@media screen and (min-width: 768px) {
  .zl-topbar .app-info .home-link .app-icon .zywave-icon {
    height: 60px;
  }
}
@media screen and (min-width: 1280px) {
  .zl-topbar .app-info .home-link .app-icon .zywave-icon {
    height: 80px;
  }
}

@media screen and (min-width: 768px) {
  .zl-topbar .app-info .home-link .app-name {
    display: block;
  }
}
.zl-topbar .app-info .home-link .app-name sup {
  font-size: 12px;
  position: relative;
  top: -10px;
}
.zl-topbar .app-modules {
  float: right;
  width: auto;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
          align-items: flex-end;
}
.zl-topbar .app-modules .module-item {
  height: 60px;
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  margin: 0 5px;
}
@media screen and (min-width: 768px) {
  .zl-topbar .app-modules .module-item {
    display: -webkit-box;
    display: flex;
  }
}
@media screen and (min-width: 1280px) {
  .zl-topbar .app-modules .module-item {
    height: 80px;
  }
}
.zl-topbar .app-modules .module-item .module-item--button {
  display: inline-block;
  color: #fefefe;
  background-color: transparent;
  padding: 1.25em;
  border-radius: 2px;
  border: none;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-transition: .1s ease;
  transition: .1s ease;
}
@media screen and (min-width: 1280px) {
  .zl-topbar .app-modules .module-item .module-item--button {
    background-color: #530e0e;
  }
}
.zl-topbar .app-modules .module-item .module-item--button:hover {
  background-color: #4a0d0d;
  -webkit-transition: .1s ease;
  transition: .1s ease;
  text-decoration: none;
}
.zl-topbar .app-modules .module-item .module-item--button .module-item--icon {
  display: inline-block;
  height: 16px;
  width: 16px;
  margin-right: 3px;
  fill: #fefefe;
  vertical-align: middle;
  -webkit-transition: fill 75ms ease-out;
  transition: fill 75ms ease-out;
}
.zl-topbar .app-modules .module-item .module-item--button .module-item--text {
  display: none;
  vertical-align: middle;
  font-size: 1.1em;
}
@media screen and (min-width: 1280px) {
  .zl-topbar .app-modules .module-item .module-item--button .module-item--text {
    display: inline-block;
  }
}
.zl-topbar .mobile-menu--button {
  display: -webkit-box;
  display: flex;
  color: #fff;
  height: 50px;
  position: absolute;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
}
.zl-topbar .mobile-menu--button.no-menu {
  display: none;
}
.zl-topbar .mobile-menu--button .svg-icon.mobile-nav--icon {
  width: 35px;
  height: 25px;
  fill: #f4f4f4;
}
@media screen and (min-width: 768px) {
  .zl-topbar .mobile-menu--button {
    display: none;
  }
}

.zl-topbar__modal-header {
  margin-bottom: 30px;
  text-align: center;
  font-size: 30px;
}

.zc-modal.launchpad .launchpad-item__wrap {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: center;
          justify-content: center;
}
.zc-modal.launchpad .launchpad-item__wrap .launchpad-item {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
          align-items: center;
  width: 46%;
  height: 200px;
  text-align: center;
  background-color: #fafafa;
  border: none;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  padding: 1.5em;
  margin: 7px;
  -webkit-transition: box-shadow 125ms ease-out, width 350ms ease-out;
  transition: box-shadow 125ms ease-out, width 350ms ease-out;
}
@media screen and (max-width: 500px) {
  .zc-modal.launchpad .launchpad-item__wrap .launchpad-item {
    width: 100%;
    border-bottom: 1px solid #eaeaea;
  }
}
.zc-modal.launchpad .launchpad-item__wrap .launchpad-item:hover {
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.zc-modal.launchpad .launchpad-item__icon {
  position: relative;
  height: 65px;
  width: 65px;
  border-radius: 50%;
  border: 4px solid #5b5b5b;
  margin-bottom: 1em;
}
.zc-modal.launchpad .launchpad-item__icon .launchpad-item__icon-text {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  color: #5b5b5b;
  font-weight: 700;
}
.zc-modal.launchpad .launchpad-item__icon.id-amc,
.zc-modal.launchpad .launchpad-item__icon.id-zh {
  border-color: #739600;
}
.zc-modal.launchpad .launchpad-item__icon.id-amc .launchpad-item__icon-text,
.zc-modal.launchpad .launchpad-item__icon.id-zh .launchpad-item__icon-text {
  color: #739600;
}
.zc-modal.launchpad .launchpad-item__icon.id-bb {
  border-color: #1f5ea8;
}
.zc-modal.launchpad .launchpad-item__icon.id-bb .launchpad-item__icon-text {
  color: #1f5ea8;
}
.zc-modal.launchpad .launchpad-item__icon.id-bkb {
  border-color: #4d2872;
}
.zc-modal.launchpad .launchpad-item__icon.id-bkb .launchpad-item__icon-text {
  color: #4d2872;
}
.zc-modal.launchpad .launchpad-item__icon.id-mm,
.zc-modal.launchpad .launchpad-item__icon.id-ral {
  border-color: #188677;
}
.zc-modal.launchpad .launchpad-item__icon.id-mm .launchpad-item__icon-text,
.zc-modal.launchpad .launchpad-item__icon.id-ral .launchpad-item__icon-text {
  color: #188677;
}
.zc-modal.launchpad .launchpad-item__icon.id-dmw,
.zc-modal.launchpad .launchpad-item__icon.id-pad,
.zc-modal.launchpad .launchpad-item__icon.id-prx {
  border-color: #2196f3;
}
.zc-modal.launchpad .launchpad-item__icon.id-dmw .launchpad-item__icon-text,
.zc-modal.launchpad .launchpad-item__icon.id-pad .launchpad-item__icon-text,
.zc-modal.launchpad .launchpad-item__icon.id-prx .launchpad-item__icon-text {
  color: #2196f3;
}
.zc-modal.launchpad .launchpad-item__icon.id-bmr,
.zc-modal.launchpad .launchpad-item__icon.id-hrc,
.zc-modal.launchpad .launchpad-item__icon.id-ity,
.zc-modal.launchpad .launchpad-item__icon.id-cmw,
.zc-modal.launchpad .launchpad-item__icon.id-mwe,
.zc-modal.launchpad .launchpad-item__icon.id-mw {
  border-color: #5b5b5b;
}
.zc-modal.launchpad .launchpad-item__icon.id-bmr .launchpad-item__icon-text,
.zc-modal.launchpad .launchpad-item__icon.id-hrc .launchpad-item__icon-text,
.zc-modal.launchpad .launchpad-item__icon.id-ity .launchpad-item__icon-text,
.zc-modal.launchpad .launchpad-item__icon.id-cmw .launchpad-item__icon-text,
.zc-modal.launchpad .launchpad-item__icon.id-mwe .launchpad-item__icon-text,
.zc-modal.launchpad .launchpad-item__icon.id-mw .launchpad-item__icon-text {
  color: #5b5b5b;
}
.zc-modal.launchpad .launchpad-item__title {
  margin-bottom: 2px;
  max-width: 90%;
}
.zc-modal.launchpad .launchpad-item__description {
  font-size: 13px;
  color: #5b5b5b;
  max-width: 90%;
}

@media screen and (min-width: 768px) {
  .zc-modal.launchpad .launchpad-item__wrap .launchpad-item {
    width: 31%;
  }
}
@media screen and (min-width: 1024px) {
  .zc-modal.launchpad .launchpad-item__wrap .launchpad-item {
    width: 23%;
  }
}
@media screen and (max-width: 500px) {
  .zc-modal.help .help-item__wrap .help-item {
    width: 100%;
    border-bottom: 1px solid #eaeaea;
  }
}
.zc-modal.help {
  padding: 0;
}
.zc-modal.help .zc-modal-content {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}
@media screen and (min-width: 768px) {
  .zc-modal.help .zc-modal-content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
  }
}
.zc-modal.help .live-chat__wrap {
  width: 100%;
  padding: 2em;
  background-color: #f4f4f4;
  -webkit-transition: width 150ms ease-out;
  transition: width 150ms ease-out;
}
@media screen and (min-width: 768px) {
  .zc-modal.help .live-chat__wrap {
    width: 40%;
    padding: 2em 3em 2em 2em;
  }
}
.zc-modal.help .help-modal-header {
  margin-bottom: 45px;
  color: #3d3d3d;
}
.zc-modal.help .help-icon {
  width: 100px;
  height: 100px;
  margin-right: 2em;
}
.zc-modal.help .suggested-questions-wrap {
  margin-top: 3em;
}
.zc-modal.help .suggested-questions-wrap .zu-h6 {
  color: #7a7a7a;
}
.zc-modal.help .suggested-questions-wrap .faq-list li + li {
  margin-top: 5px;
}
.zc-modal.help .live-chat-textarea {
  width: 100%;
  height: 100px;
  padding: 1em;
  border: 1px solid #dbdbdb;
  border-radius: 2px;
  resize: none;
  margin-bottom: 1em;
}
.zc-modal.help .help-item__description {
  color: #5b5b5b;
}
.zc-modal.help .help-item-text {
  width: 80%;
}
.zc-modal.help .btn--chat {
  background-color: #739600;
  width: 100%;
  -webkit-transition: background-color 50ms ease-out;
  transition: background-color 50ms ease-out;
}
.zc-modal.help .btn--chat:hover {
  background-color: #96b03f;
}
.zc-modal.help .help-item__wrap {
  width: 100%;
  padding: 2em;
  -webkit-transition: width 150ms ease-out;
  transition: width 150ms ease-out;
}
@media screen and (min-width: 768px) {
  .zc-modal.help .help-item__wrap {
    width: 60%;
    padding: 2em 2em 2em 3em;
  }
}
.zc-modal.help .help-item__wrap .help-item {
  display: -webkit-box;
  display: flex;
  width: 100%;
  background-color: white;
  border-radius: 2px;
  margin-bottom: 4em;
  -webkit-transition: background-color 75ms ease-out, width 350ms ease-out;
  transition: background-color 75ms ease-out, width 350ms ease-out;
}
.zc-modal.help .help-item__wrap .help-item:first-child {
  padding-top: 0;
}
.zc-modal.help .help-item__wrap .help-item:hover {
  cursor: pointer;
}
.zc-modal.help .help-item__wrap .help-item:hover .help-item__launch-link {
  color: #1f5ea8;
  text-decoration: underline;
}
.zc-modal.help .help-item__wrap .help-item__description {
  max-width: 100%;
  font-size: 13px;
  color: #5b5b5b;
}
.zc-modal.help .help-item__wrap .help-item__launch-link {
  font-weight: 700;
  font-size: 13px;
  text-transform: uppercase;
}
.zc-modal.help .help-item__wrap .help-item__title {
  white-space: nowrap;
  margin-bottom: 5px;
  font-size: 16px;
}
.zc-modal.help .help-item__wrap .temp-icon {
  height: 80px;
  width: 80px;
  margin-right: 2em;
}

.zc-modal.user {
  padding: 0;
}
.zc-modal.user .zc-modal-content {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}
@media screen and (min-width: 768px) {
  .zc-modal.user .zc-modal-content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
  }
}
.zc-modal.user .user-item__wrap {
  width: 100%;
  padding: 2em;
  -webkit-transition: width 150ms ease-out;
  transition: width 150ms ease-out;
}
@media screen and (max-width: 500px) {
  .zc-modal.user .user-item__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
            flex-direction: column-reverse;
  }
  .zc-modal.user .user-item__wrap .user-item-notifications-wrap {
    width: 100%;
    border-bottom: 1px solid #eaeaea;
  }
}
.zc-modal.user .notification-wrap {
  width: 100%;
  padding: 2em;
  -webkit-transition: width 150ms ease-out;
  transition: width 150ms ease-out;
  position: relative;
}
@media screen and (min-width: 768px) {
  .zc-modal.user .notification-wrap {
    width: 60%;
    padding: 2em 2em 2em 3em;
  }
}
.zc-modal.user .user-modal-header {
  margin-bottom: 45px;
  color: #3d3d3d;
}
.zc-modal.user .user-item__label {
  color: #7a7a7a;
}
.zc-modal.user .user-item-links {
  margin-top: 3em;
}
.zc-modal.user .user-info-text {
  margin-left: 20px;
  width: calc(80% - 20px);
}
.zc-modal.user .user-item-text-wrap {
  margin-bottom: 30px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-align: center;
          align-items: center;
}
.zc-modal.user .user-item-text-wrap svg {
  fill: #5b5b5b;
}
.zc-modal.user .user-item__info {
  color: #2d2d2d;
  font-size: 14px;
}
.zc-modal.user .user-item__link {
  display: block;
  padding: 5px 0;
  width: 100px;
}
.zc-modal.user .user-item__link + .user-item__link {
  margin-top: 1em;
}
.zc-modal.user .mark-all-read {
  position: absolute;
  right: 0;
  top: -12px;
}
.zc-modal.user .notification-table {
  border-bottom: 1px solid #dbdbdb;
}
.zc-modal.user .notification-table td + td {
  border-left: none;
}
.zc-modal.user .notification-table thead > tr {
  border-bottom: 1px solid #dbdbdb;
}
.zc-modal.user .notification-table thead > tr:hover {
  background-color: white;
  cursor: default;
}
.zc-modal.user .notification-table tr + tr {
  border-top: 1px solid #f4f4f4;
}
.zc-modal.user .notification-table th {
  padding-top: 0;
}
.zc-modal.user .notification-table tr:hover {
  cursor: pointer;
  background-color: #fafafa;
}
.zc-modal.user .zc-pager {
  text-align: right;
}
.zc-modal.user .zc-pager .zui-pager__input {
  display: none;
}
.zc-modal.user .zc-pager .zc-btn--link {
  font-size: 13px;
}
.zc-modal.user .zc-pager .zc-btn--link:hover {
  background-color: transparent;
}

.tag.notification-tag {
  position: absolute;
  top: 32px;
  right: 28px;
  font-size: 11px;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  background-color: #f72c2c;
  border-radius: 4px;
  padding: 5px;
}

.zc-modal.launchpad .zl-topbar__modal-header,
.zc-modal.help .zl-topbar__modal-header,
.zc-modal.user .zl-topbar__modal-header {
  margin-bottom: 30px;
  text-align: center;
  font-size: 30px;
}

.zc-modal.entityselector .zl-topbar__modal-header {
  margin-bottom: 30px;
  text-align: center;
  font-size: 30px;
}
.zc-modal.entityselector .zc-modal-footer .zc-btn--link {
  background-color: transparent;
  -webkit-transition: background-color 75ms ease-out;
  transition: background-color 75ms ease-out;
}
.zc-modal.entityselector .zc-modal-footer .zc-btn--link:hover {
  background-color: #eaeaea;
  text-decoration: none;
}
.zc-modal.entityselector .zc-modal-footer .zc-btn--link:active {
  box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.15);
}
.zc-modal.entityselector .zc-modal-footer .zc-btn--link:focus {
  outline: none;
}

/*---------------------------------------------------------
-
- Zywave UI Core-layout - Side Nav
-
----------------------------------------------------------*/
.zl-sidebar {
  width: 250px;
  background: #fff;
  border-right: 1px solid #c6c6c6;
  height: 100%;
  position: fixed;
  -webkit-transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  float: left;
  z-index: 998;
  -webkit-transform: translateX(-250px);
          transform: translateX(-250px);
  top: 0;
}
.zl-sidebar .zl-sidenav {
  overflow-x: hidden;
  height: 100%;
}
.zl-sidebar.mobile-slideout {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  top: 0;
  z-index: 1010;
  position: fixed;
  display: block;
}
.zl-sidebar.mobile-slideout .shell-nav-toggle {
  display: none;
}
@media screen and (min-width: 768px) {
  .zl-sidebar {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    top: auto;
  }
}
.zl-sidebar.no-sidebar {
  display: none;
}
.zl-sidebar.is-closed {
  width: 45px;
  -webkit-transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
.zl-sidebar.is-closed.full-width {
  width: 250px;
  -webkit-transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
.zl-sidebar.is-closed .shell-menu {
  opacity: 0;
  -webkit-transition: .1s;
  transition: .1s;
}
.zl-sidebar.is-closed .shell-menu.display-items {
  opacity: 1;
  -webkit-transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
.zl-sidebar.is-closed .shell-nav-toggle {
  -webkit-transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
.zl-sidebar.is-closed .shell-nav-toggle .shell-btn-nav-toggle {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
@-moz-document url-prefix() {
  .zl-sidebar.is-closed .shell-nav-toggle .shell-btn-nav-toggle {
    transform: rotateY(180deg);
  }
}
.zl-sidebar.is-closed .shell-nav-toggle .shell-btn-nav-toggle.align-left {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
@-moz-document url-prefix() {
  .zl-sidebar.is-closed .shell-nav-toggle .shell-btn-nav-toggle.align-left {
    transform: rotateY(180deg);
  }
}
.zl-sidebar.is-closed .shell-nav-toggle .shell-btn-nav-toggle.align-right {
  -webkit-transform: translateX(205px);
          transform: translateX(205px);
  -webkit-transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
@-moz-document url-prefix() {
  .zl-sidebar.is-closed .shell-nav-toggle .shell-btn-nav-toggle.align-right {
    transform: rotateY(0deg);
  }
}
.zl-sidebar.is-closed .shell-nav-toggle .shell-btn-nav-toggle svg {
  -webkit-transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .zl-sidebar.is-closed .shell-nav-toggle .shell-btn-nav-toggle svg {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .zl-sidebar.is-closed .shell-nav-toggle .shell-btn-nav-toggle svg {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
}

.shell-nav-toggle {
  height: 45px;
  border-top: 1px solid #ccc;
  width: 100%;
  position: absolute;
  bottom: 50px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  background: #fff;
  z-index: 15;
}
@media screen and (min-width: 768px) {
  .shell-nav-toggle {
    bottom: 60px;
  }
}
@media screen and (min-width: 1280px) {
  .shell-nav-toggle {
    bottom: 80px;
  }
}
.shell-nav-toggle .shell-btn-nav-toggle {
  width: 45px;
  height: 45px;
  text-align: center;
  cursor: pointer;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-transform: translateX(205px);
          transform: translateX(205px);
  -webkit-transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
.shell-nav-toggle .shell-btn-nav-toggle.align-left {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
.shell-nav-toggle .shell-btn-nav-toggle:hover {
  background: #dbdbdb;
}
.shell-nav-toggle .shell-btn-nav-toggle svg {
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
  -webkit-transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.shell-menu {
  -webkit-transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  z-index: 1;
  overflow-x: hidden;
  max-height: 100%;
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .shell-menu {
    max-height: calc(100% - 105px);
  }
}
@media screen and (min-width: 1280px) {
  .shell-menu {
    max-height: calc(100% - 125px);
  }
}
.shell-menu .shell-nav-item.active {
  color: #621111;
  font-weight: 600;
}
.shell-menu .shell-nav-item.active a {
  color: #621111;
  font-weight: 600;
}
.shell-menu .shell-nav-item.active .shell-nav--link.active {
  color: #621111;
  font-weight: 600;
}
.shell-menu .shell-nav-item.active button {
  color: #621111;
  font-weight: 600;
}
.shell-menu .shell-nav-item .shell-nav--link.active {
  color: #621111;
  font-weight: 600;
}
.shell-menu .shell-nav-item .shell-nav--button {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-align: center;
          align-items: center;
  background: transparent;
  border: none;
  width: 100%;
  text-align: left;
  padding: 0;
  color: #3d3d3d;
  outline: none;
}
.shell-menu .shell-nav-item .shell-nav--button.top-level {
  position: relative;
  padding-right: 3em;
  cursor: pointer;
}
.shell-menu .shell-nav-item .shell-nav--button.top-level.active {
  color: #621111;
  font-weight: 600;
}
.shell-menu .shell-nav-item .shell-nav--button:hover {
  background: #eee;
}
.shell-menu .shell-nav-item .shell-nav--button .nav-button--text {
  font-size: 14px;
  padding: 1em;
  line-height: 1.414;
  display: block;
  width: 100%;
}
.shell-menu .shell-nav-item .shell-nav--button .svg-icon.menu-icon {
  position: absolute;
  right: 1em;
  -webkit-transition: -webkit-transform 150ms ease-out;
  transition: -webkit-transform 150ms ease-out;
  transition: transform 150ms ease-out;
  transition: transform 150ms ease-out, -webkit-transform 150ms ease-out;
  top: 1em;
}
.shell-menu .shell-nav-item.open .svg-icon.menu-icon {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  -webkit-transition: -webkit-transform 150ms ease-out;
  transition: -webkit-transform 150ms ease-out;
  transition: transform 150ms ease-out;
  transition: transform 150ms ease-out, -webkit-transform 150ms ease-out;
}
.shell-menu .shell-nav-item .shell-sub--nav {
  margin-bottom: 0;
  display: none;
}
.shell-menu .shell-nav-item .shell-sub--nav .shell-nav--item.active {
  color: #621111;
  font-weight: 600;
}
.shell-menu .shell-nav-item .shell-sub--nav .shell-nav--item.active a {
  color: #621111;
}
.shell-menu .shell-nav-item .shell-sub--nav .shell-nav--item .shell-nav--link {
  padding-left: 3em;
  font-size: 13px;
}
.shell-menu li a {
  display: block;
  padding: 1em;
  font-size: 14px;
  line-height: 1.414;
  text-decoration: none;
  color: #3d3d3d;
  -webkit-transition: .2s ease;
  transition: .2s ease;
}
.shell-menu li a:hover {
  background-color: #eee;
}

.shell-mobile--name {
  height: 50px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  background: #621111;
  color: #f4f4f4;
}
.shell-mobile--name .app-name {
  font-size: 16px;
  opacity: .9;
}
@media screen and (min-width: 768px) {
  .shell-mobile--name {
    display: none;
  }
}

.zl-content {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
          align-items: flex-start;
  width: 100%;
  min-height: calc(100vh - 45px);
  margin-left: 0;
  float: left;
  -webkit-transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  background: white;/*决定右边内容的背景色*/
}
@media screen and (min-width: 768px) {
  .zl-content {
    width: calc(100% - 250px);
    margin-left: 250px;
    min-height: calc(100vh - 60px);
  }
}
@media screen and (min-width: 1280px) {
  .zl-content {
    min-height: calc(100vh - 80px);
  }
}
.zl-content .shell-content--view {
  margin: 15px 0;
}
.zl-content.no-sidebar {
  width: 100%;
  margin-left: 0;
}
.zl-content.is-closed {
  width: calc(100% - 45px);
  margin-left: 45px;
  -webkit-transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.shell-content {
  position: relative;
  min-height: calc(100vh - 125px);
}

.zl-footer {
  position: relative;
  width: 100%;
  height: 105px;
  bottom: 0;
  background: #f4f4f4;
  border-top: 1px solid #eaeaea;
}
@media screen and (min-width: 768px) {
  .zl-footer {
    height: 45px;
  }
}

.footer-container {
  float: left;
  width: 100%;
}

.footer-list {/*页尾li们可以横着显示*/
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  justify-content: space-around;
  -webkit-box-align: center;
          align-items: center;
  font-size: 14px;
  list-style: none;
  max-width: 1000px;
  margin: 0 auto;
  flex-wrap: wrap;
}
.footer-list li {/*页尾span样式设置*/
  color: #7a7a7a;
  font-size: 12px;
  padding: 10px 5px;
}
@media screen and (min-width: 1280px) {
  .footer-list li {
    font-size: 13px;
  }
}
@media screen and (min-width: 768px) {
  .footer-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
  }
}

.svg-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  font-size: 16px;
  fill: currentColor;
}
.svg-icon--small {
  font-size: 16px;
}
.svg-icon--medium {
  font-size: 24px;
}
.svg-icon--large {
  font-size: 32px;
}

/*------------------------------------*\
  #PRESETS-BASE
\*------------------------------------*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
  color: black;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1;
}

body {
  font-size: 14px;
  background: #f4f4f4;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
dl,
blockquote,
pre {
  margin-top: 0;
  line-height: 1.414;
}

blockquote {
  margin-bottom: 1.415em;
}

pre {
  margin-bottom: 1.415em;
}

hr {
  margin-top: 2.83em;
  margin-bottom: 2.83em;
}

img {
  max-width: 100%;
}

::-webkit-input-placeholder {
  color: #999;
  line-height: 1.414;
}

:-moz-placeholder {
  color: #7a7a7a;
  line-height: 1.414;
}

::-moz-placeholder {
  color: #7a7a7a;
  line-height: 1.414;
}

:-ms-input-placeholder {
  color: #999;
  line-height: 1.414;
}

/*------------------------------------*\
  #ELEMENTS-HEADINGS
\*------------------------------------*/
h1 {
  margin-bottom: 0.415em;
  font-size: 2.3rem;
  font-weight: 300;
  color: #3d3d3d;
}

h2 {
  margin-bottom: 0.415em;
  font-size: 1.9rem;
  font-weight: 600;
  color: #3d3d3d;
}

h3 {
  margin-bottom: 0.415em;
  font-size: 1.4rem;
  color: #3d3d3d;
  font-weight: 600;
}

h4 {
  margin-bottom: 0.415em;
  font-size: 1.2rem;
  color: #3d3d3d;
  font-weight: 600;
}

h5 {
  margin-bottom: 0.415em;
  font-size: 1rem;
  color: #3d3d3d;
  font-weight: 600;
}

h6 {
  margin-bottom: 0.415em;
  font-size: 0.9rem;
  text-transform: uppercase;
  color: #3d3d3d;
  font-weight: 700;
}

/*------------------------------------*\
  #FLEX LAYOUTS
\*------------------------------------*/
.zl-flex-page {
  position: relative;
}

.zl-flex--row {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-pack: start;
          justify-content: flex-start;
  margin-right: -.5rem;
  margin-left: -.5rem;
  flex-wrap: wrap;
  width: 100%;
}
.zl-flex--row-no-wrap {
  flex-wrap: nowrap;
}
.zl-flex--row-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
          flex-direction: row-reverse;
}
.zl-flex--row.center-items {
  -webkit-box-align: center;
          align-items: center;
}
.zl-flex--row.space-between {
  -webkit-box-pack: justify;
          justify-content: space-between;
}
.zl-flex--row.space-around {
  justify-content: space-around;
}
.zl-flex--row.center {
  -webkit-box-pack: center;
          justify-content: center;
}
@media screen and (max-width: 480px) {
  .zl-flex--row {
    margin: 5px 0;
  }
}

.zl-col {
  -webkit-box-flex: 1;
          flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
  padding: 0 0.5rem;
  box-sizing: border-box;
}
.zl-col--1 {
  max-width: 8.33333333%;
  -webkit-box-flex: inherit;
          flex-grow: inherit;
  flex-basis: 8.33333333%;
  padding: 0 0.5rem;
  margin: 2px 0;
}
.zl-col--1.col-wrap {
  flex-wrap: wrap;
}
.zl-col--2 {
  max-width: 16.66666667%;
  -webkit-box-flex: inherit;
          flex-grow: inherit;
  flex-basis: 16.66666667%;
  padding: 0 0.5rem;
  margin: 2px 0;
}
.zl-col--2.col-wrap {
  flex-wrap: wrap;
}
.zl-col--3 {
  max-width: 25%;
  -webkit-box-flex: inherit;
          flex-grow: inherit;
  flex-basis: 25%;
  padding: 0 0.5rem;
  margin: 2px 0;
}
.zl-col--3.col-wrap {
  flex-wrap: wrap;
}
.zl-col--4 {
  max-width: 33.33333333%;
  -webkit-box-flex: inherit;
          flex-grow: inherit;
  flex-basis: 33.33333333%;
  padding: 0 0.5rem;
  margin: 2px 0;
}
.zl-col--4.col-wrap {
  flex-wrap: wrap;
}
.zl-col--5 {
  max-width: 41.66666667%;
  -webkit-box-flex: inherit;
          flex-grow: inherit;
  flex-basis: 41.66666667%;
  padding: 0 0.5rem;
  margin: 2px 0;
}
.zl-col--5.col-wrap {
  flex-wrap: wrap;
}
.zl-col--6 {
  max-width: 50%;
  -webkit-box-flex: inherit;
          flex-grow: inherit;
  flex-basis: 50%;
  padding: 0 0.5rem;
  margin: 2px 0;
}
.zl-col--6.col-wrap {
  flex-wrap: wrap;
}
.zl-col--7 {
  max-width: 58.33333333%;
  -webkit-box-flex: inherit;
          flex-grow: inherit;
  flex-basis: 58.33333333%;
  padding: 0 0.5rem;
  margin: 2px 0;
}
.zl-col--7.col-wrap {
  flex-wrap: wrap;
}
.zl-col--8 {
  max-width: 66.66666667%;
  -webkit-box-flex: inherit;
          flex-grow: inherit;
  flex-basis: 66.66666667%;
  padding: 0 0.5rem;
  margin: 2px 0;
}
.zl-col--8.col-wrap {
  flex-wrap: wrap;
}
.zl-col--9 {
  max-width: 75%;
  -webkit-box-flex: inherit;
          flex-grow: inherit;
  flex-basis: 75%;
  padding: 0 0.5rem;
  margin: 2px 0;
}
.zl-col--9.col-wrap {
  flex-wrap: wrap;
}
.zl-col--10 {
  max-width: 83.33333333%;
  -webkit-box-flex: inherit;
          flex-grow: inherit;
  flex-basis: 83.33333333%;
  padding: 0 0.5rem;
  margin: 2px 0;
}
.zl-col--10.col-wrap {
  flex-wrap: wrap;
}
.zl-col--11 {
  max-width: 91.66666667%;
  -webkit-box-flex: inherit;
          flex-grow: inherit;
  flex-basis: 91.66666667%;
  padding: 0 0.5rem;
  margin: 2px 0;
}
.zl-col--11.col-wrap {
  flex-wrap: wrap;
}
.zl-col--12 {
  max-width: 100%;
  -webkit-box-flex: inherit;
          flex-grow: inherit;
  flex-basis: 100%;
  padding: 0 0.5rem;
  margin: 2px 0;
}
.zl-col--12.col-wrap {
  flex-wrap: wrap;
}

@media screen and (max-width: 1280px) {
  .zl-col--1-lg {
    max-width: 8.33333333%;
    flex-basis: 8.33333333%;
    margin: 5px 0;
  }
  .zl-col--2-lg {
    max-width: 16.66666667%;
    flex-basis: 16.66666667%;
    margin: 5px 0;
  }
  .zl-col--3-lg {
    max-width: 25%;
    flex-basis: 25%;
    margin: 5px 0;
  }
  .zl-col--4-lg {
    max-width: 33.33333333%;
    flex-basis: 33.33333333%;
    margin: 5px 0;
  }
  .zl-col--5-lg {
    max-width: 41.66666667%;
    flex-basis: 41.66666667%;
    margin: 5px 0;
  }
  .zl-col--6-lg {
    max-width: 50%;
    flex-basis: 50%;
    margin: 5px 0;
  }
  .zl-col--7-lg {
    max-width: 58.33333333%;
    flex-basis: 58.33333333%;
    margin: 5px 0;
  }
  .zl-col--8-lg {
    max-width: 66.66666667%;
    flex-basis: 66.66666667%;
    margin: 5px 0;
  }
  .zl-col--9-lg {
    max-width: 75%;
    flex-basis: 75%;
    margin: 5px 0;
  }
  .zl-col--10-lg {
    max-width: 83.33333333%;
    flex-basis: 83.33333333%;
    margin: 5px 0;
  }
  .zl-col--11-lg {
    max-width: 91.66666667%;
    flex-basis: 91.66666667%;
    margin: 5px 0;
  }
  .zl-col--12-lg {
    max-width: 100%;
    flex-basis: 100%;
    margin: 5px 0;
  }
}
@media screen and (max-width: 1024px) {
  .zl-col--1-md {
    max-width: 8.33333333%;
    flex-basis: 8.33333333%;
    margin: 5px 0;
  }
  .zl-col--2-md {
    max-width: 16.66666667%;
    flex-basis: 16.66666667%;
    margin: 5px 0;
  }
  .zl-col--3-md {
    max-width: 25%;
    flex-basis: 25%;
    margin: 5px 0;
  }
  .zl-col--4-md {
    max-width: 33.33333333%;
    flex-basis: 33.33333333%;
    margin: 5px 0;
  }
  .zl-col--5-md {
    max-width: 41.66666667%;
    flex-basis: 41.66666667%;
    margin: 5px 0;
  }
  .zl-col--6-md {
    max-width: 50%;
    flex-basis: 50%;
    margin: 5px 0;
  }
  .zl-col--7-md {
    max-width: 58.33333333%;
    flex-basis: 58.33333333%;
    margin: 5px 0;
  }
  .zl-col--8-md {
    max-width: 66.66666667%;
    flex-basis: 66.66666667%;
    margin: 5px 0;
  }
  .zl-col--9-md {
    max-width: 75%;
    flex-basis: 75%;
    margin: 5px 0;
  }
  .zl-col--10-md {
    max-width: 83.33333333%;
    flex-basis: 83.33333333%;
    margin: 5px 0;
  }
  .zl-col--11-md {
    max-width: 91.66666667%;
    flex-basis: 91.66666667%;
    margin: 5px 0;
  }
  .zl-col--12-md {
    max-width: 100%;
    flex-basis: 100%;
    margin: 5px 0;
  }
}
@media screen and (max-width: 768px) {
  .zl-col--1-sm {
    max-width: 8.33333333%;
    flex-basis: 8.33333333%;
    margin: 5px 0;
  }
  .zl-col--2-sm {
    max-width: 16.66666667%;
    flex-basis: 16.66666667%;
    margin: 5px 0;
  }
  .zl-col--3-sm {
    max-width: 25%;
    flex-basis: 25%;
    margin: 5px 0;
  }
  .zl-col--4-sm {
    max-width: 33.33333333%;
    flex-basis: 33.33333333%;
    margin: 5px 0;
  }
  .zl-col--5-sm {
    max-width: 41.66666667%;
    flex-basis: 41.66666667%;
    margin: 5px 0;
  }
  .zl-col--6-sm {
    max-width: 50%;
    flex-basis: 50%;
    margin: 5px 0;
  }
  .zl-col--7-sm {
    max-width: 58.33333333%;
    flex-basis: 58.33333333%;
    margin: 5px 0;
  }
  .zl-col--8-sm {
    max-width: 66.66666667%;
    flex-basis: 66.66666667%;
    margin: 5px 0;
  }
  .zl-col--9-sm {
    max-width: 75%;
    flex-basis: 75%;
    margin: 5px 0;
  }
  .zl-col--10-sm {
    max-width: 83.33333333%;
    flex-basis: 83.33333333%;
    margin: 5px 0;
  }
  .zl-col--11-sm {
    max-width: 91.66666667%;
    flex-basis: 91.66666667%;
    margin: 5px 0;
  }
  .zl-col--12-sm {
    max-width: 100%;
    flex-basis: 100%;
    margin: 5px 0;
  }
}
@media screen and (max-width: 480px) {
  .zl-col--1-xs {
    max-width: 8.33333333%;
    flex-basis: 8.33333333%;
    margin: 5px 0;
  }
  .zl-col--2-xs {
    max-width: 16.66666667%;
    flex-basis: 16.66666667%;
    margin: 5px 0;
  }
  .zl-col--3-xs {
    max-width: 25%;
    flex-basis: 25%;
    margin: 5px 0;
  }
  .zl-col--4-xs {
    max-width: 33.33333333%;
    flex-basis: 33.33333333%;
    margin: 5px 0;
  }
  .zl-col--5-xs {
    max-width: 41.66666667%;
    flex-basis: 41.66666667%;
    margin: 5px 0;
  }
  .zl-col--6-xs {
    max-width: 50%;
    flex-basis: 50%;
    margin: 5px 0;
  }
  .zl-col--7-xs {
    max-width: 58.33333333%;
    flex-basis: 58.33333333%;
    margin: 5px 0;
  }
  .zl-col--8-xs {
    max-width: 66.66666667%;
    flex-basis: 66.66666667%;
    margin: 5px 0;
  }
  .zl-col--9-xs {
    max-width: 75%;
    flex-basis: 75%;
    margin: 5px 0;
  }
  .zl-col--10-xs {
    max-width: 83.33333333%;
    flex-basis: 83.33333333%;
    margin: 5px 0;
  }
  .zl-col--11-xs {
    max-width: 91.66666667%;
    flex-basis: 91.66666667%;
    margin: 5px 0;
  }
  .zl-col--12-xs {
    max-width: 100%;
    flex-basis: 100%;
    margin: 5px 0;
  }
}
/*------------------------------------*\
  #ZUI TABS 
\*------------------------------------*/
.zc-tabs {
  margin: 10px 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-flow: column;
  position: relative;
  box-sizing: border-box;
}

.zc-tabs .zc-tab--navigation {
  display: -webkit-box;
  display: flex;
  position: relative;
  overflow: hidden;
  z-index: 10;
  width: 100%;
  border-bottom: 1px solid #dbdbdb;
}

.zc-tabs .zc-tab--navigation .zc-tab--item {
  text-align: center;
  white-space: nowrap;
  display: -webkit-inline-box;
  display: inline-flex;
}

.zc-tabs .zc-tab--navigation .zc-tab--item a {
  color: #5b5b5b;
  text-decoration: none;
  width: 100%;
  display: block;
  box-shadow: inset 0 0 0 #dbdbdb;
  padding: 1.25em;
  position: relative;
  overflow: hidden;
  -webkit-transition: box-shadow 150ms ease-in-out;
  transition: box-shadow 150ms ease-in-out;
}
.zc-tabs .zc-tab--navigation .zc-tab--item a.zc-tab--disabled {
  color: #c6c6c6;
  pointer-events: none;
}

.zc-tabs .zc-tab--navigation .zc-tab--item a.active {
  font-weight: 700;
  color: #739600;
}

.zc-tab--content {
  display: none;
}

.zc-tab--content.active {
  display: block;
}

.zc-tab--scroll-left {
  padding: 1.25em;
  display: none;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  background: #f4f4f4;
}
.zc-tab--scroll-left .scroll-enabled {
  display: block;
}

.zc-tab--scroll-right {
  padding: 1.25em;
  display: none;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  position: absolute;
  right: 0px;
  background: #f4f4f4;
  z-index: 10;
}
.zc-tab--scroll-right .scroll-enabled {
  display: block;
}

.zc-tab--slider {
  height: 5px;
  min-width: 5px;
  position: absolute;
  bottom: 0px;
  width: 100%;
  left: 0px;
}

.zc-tab-indicator {
  min-height: 5px;
  min-width: 5px;
  background-color: #739600;
  position: absolute;
  -webkit-transition: all ease-out 0.3s;
  transition: all ease-out 0.3s;
  bottom: 0px;
}

.-ripple {
  position: absolute;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.05);
  -webkit-transform: scale(0);
  transform: scale(0);
  opacity: 1;
  height: 1em;
  width: 1em;
  pointer-events: none;
  -webkit-transform-origin: center center;
  transform-origin: center center;
  top: 0;
  left: 0;
  -webkit-animation: rippleDrop .8s ease-out;
  animation: rippleDrop .8s ease-out;
}

@-webkit-keyframes rippleDrop {
  100% {
    -webkit-transform: scale(20);
    transform: scale(20);
    opacity: 0;
  }
}
@keyframes rippleDrop {
  100% {
    -webkit-transform: scale(20);
    transform: scale(20);
    opacity: 0;
  }
}
/*------------------------------------*\
  #TRUMPS-TYPOGRAPHY
\*------------------------------------*/
.zu-light {
  font-weight: 200;
}

.zu-normal {
  font-weight: 400;
}

.zu-bold {
  font-weight: 700;
}

.zu-italic {
  font-style: italic;
}

.zu-nowrap {
  white-space: nowrap;
}

.zu-text-left {
  text-align: left;
}

.zu-text-center {
  text-align: center;
}

.zu-text-right {
  text-align: right;
}

.zu-text-justify {
  text-align: justify;
}

.zu-overflow-hidden {
  overflow: hidden;
}

.zu-hero {
  margin-bottom: 0.415em;
  font-size: 3rem;
  font-weight: 300;
  line-height: 1.414;
}

.zu-hero-sub {
  margin-bottom: 0.415em;
  font-size: 32px;
  font-weight: 300;
  line-height: 1.414;
}

.zu-hero--sub {
  margin-bottom: 0.415em;
  font-size: 32px;
  font-weight: 300;
  line-height: 1.414;
}

.zu-h1 {
  margin-bottom: 0.415em;
  font-size: 2.32rem;
  font-weight: 300;
  line-height: 1.414;
}

.zu-h2 {
  margin-bottom: 0.415em;
  font-size: 1.86rem;
  font-weight: 300;
  line-height: 1.414;
}

.zu-p {
  margin-bottom: 1.415em;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.414;
}

.zu-intro {
  margin-bottom: 0.415em;
  font-size: 23px;
  line-height: 1.414;
}

.zu-oversize {
  margin-bottom: 0.415em;
  font-size: 14px;
  line-height: 1.414;
}

.zu-p--small {
  font-size: 12px;
  margin-bottom: 0.415em;
}

.zu-p--xsmall {
  font-size: 11px;
  margin-bottom: 0.415em;
}

.zu-h3 {
  margin-bottom: 0.415em;
  font-size: 1.43rem;
  font-weight: 700;
  line-height: 1.414;
}

.zu-h4 {
  margin-bottom: 0.415em;
  font-size: 1.16rem;
  font-weight: 600;
  line-height: 1.414;
}

.zu-h5 {
  margin-bottom: 0.415em;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.414;
}

.zu-h6 {
  margin-bottom: 0.415em;
  font-size: 0.85rem;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 1.414;
}

/*------------------------------------*\
  #ELEMENTS-PARAGRAPHS
\*------------------------------------*/
p {
  margin-bottom: 1.415em;
  font-size: 1rem;
}

.zc-dropdown {
  display: inline-block;
  position: relative;
}
.zc-dropdown.is-open .zc-dropdown__menu {
  -webkit-transform: scale(1);
          transform: scale(1);
}
.zc-dropdown .divider {
  height: 1px;
  width: 100%;
  background-color: #3d3d3d;
}

.zc-dropdown__toggle {
  background-color: #3d3d3d;
  color: #fff;
}
.zc-dropdown__toggle:hover {
  opacity: .9;
  background-color: #3d3d3d;
}
.zc-dropdown__toggle:active {
  background-color: #3d3d3d;
  box-shadow: inset 0 2px 0 #2b2b2b;
}
.zc-dropdown__toggle:focus {
  background-color: #3d3d3d;
}

.zc-dropdown__menu {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 1;
  position: absolute;
  width: 300px;
  background-color: white;
  z-index: 1080;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: 23px -8px;
          transform-origin: 23px -8px;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.1), 0px 0px 12px 0px rgba(0, 0, 0, 0.15);
  text-align: left;
  line-height: 1.414;
}
.zc-dropdown__menu:after {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 15px;
  z-index: 1080;
  border-width: 0 8px 8px;
  border-style: solid;
  border-color: white transparent;
}

.zc-dropdown__menu--top-left {
  left: 0;
  bottom: 100%;
  -webkit-transform-origin: 23px calc(100% + 8px);
          transform-origin: 23px calc(100% + 8px);
  -ms-transform-origin: 23px 100%;
}
.zc-dropdown__menu--top-left:after {
  top: 100%;
  border-top-width: 8px;
  border-bottom-width: 0;
}

.zc-dropdown__menu--top-right {
  right: 0;
  bottom: 100%;
  -webkit-transform-origin: calc(100% - 23px) calc(100% + 8px);
          transform-origin: calc(100% - 23px) calc(100% + 8px);
  -ms-transform-origin: 100% 100%;
}
.zc-dropdown__menu--top-right:after {
  top: 100%;
  right: 15px;
  left: auto;
  border-top-width: 8px;
  border-bottom-width: 0;
}

.zc-dropdown__menu--bottom-right,
.zc-dropdown__menu--right {
  right: 0;
  top: 100%;
  -webkit-transform-origin: calc(100% - 23px) -8px;
          transform-origin: calc(100% - 23px) -8px;
  -ms-transform-origin: 100% -8px;
}
.zc-dropdown__menu--bottom-right:after,
.zc-dropdown__menu--right:after {
  right: 15px;
  left: auto;
}

.zc-dropdown__menu--centered-on-toggle {
  left: calc(50% - 23px);
}
.zc-dropdown__menu--centered-on-toggle.zc-dropdown__menu--top-left {
  left: calc(50% - 23px);
}
.zc-dropdown__menu--centered-on-toggle.zc-dropdown__menu--top-right, .zc-dropdown__menu--centered-on-toggle.zc-dropdown__menu--bottom-right, .zc-dropdown__menu--centered-on-toggle.zc-dropdown__menu--right {
  left: auto;
  right: calc(50% - 23px);
}

.zc-dropdown__menu-link {
  display: block;
  padding: 10px 15px;
  color: #1f5ea8;
  word-break: break-word;
  font-family: "Open Sans", sans-serif;
}
.zc-dropdown__menu-link:hover {
  background-color: #f4f4f4;
  text-decoration: none;
}

.zc-dropdown__menu-text {
  padding: 10px 15px;
}

.zc-dropdown__menu-header {
  text-transform: uppercase;
  font-size: 12px;
  padding: 10px 15px 0;
  font-weight: 700;
  color: #b2b2b2;
}

/*------------------------------------*\
  #BUTTON COMPONENT
\*------------------------------------*/
.zc-btn {
  position: relative;
  display: inline-block;
  margin: 2px 0;
  padding: 1em 1.5em;
  border: 0;
  border-radius: 30px;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  line-height: 1;
}
.zc-btn--basic {
  background-color: #621111;
  color: white;
}
.zc-btn--basic:active {
  box-shadow: inset 0 2px 0 #450c0c;
}
.zc-btn--basic:active, .zc-btn--basic:hover {
  background-color: #7a3535;
  color: white;
}
.zc-btn--basic:focus {
  outline: none;
  background-color: #7a3535;
}
.zc-btn--dark {
  background-color: #3d3d3d;
  color: white;
}
.zc-btn--dark:active {
  box-shadow: inset 0 2px 0 #2b2b2b;
}
.zc-btn--dark:active, .zc-btn--dark:hover {
  background-color: #5a5a5a;
  color: white;
}
.zc-btn--dark:focus {
  outline: none;
  background-color: #5a5a5a;
}
.zc-btn--action {
  background-color: #739600;
  color: white;
}
.zc-btn--action:active {
  box-shadow: inset 0 2px 0 #516900;
}
.zc-btn--action:active, .zc-btn--action:hover {
  background-color: #88a626;
  color: white;
}
.zc-btn--action:focus {
  outline: none;
  background-color: #88a626;
}
.zc-btn--danger {
  background-color: #f72c2c;
  color: white;
}
.zc-btn--danger:active {
  box-shadow: inset 0 2px 0 #ad1f1f;
}
.zc-btn--danger:active, .zc-btn--danger:hover {
  background-color: #f84c4c;
  color: white;
}
.zc-btn--danger:focus {
  outline: none;
  background-color: #f84c4c;
}
.zc-btn--small {
  font-size: 0.8571428571em;
}
.zc-btn > [class*='i-'] {
  line-height: 0;
}
.zc-btn > .svg-icon {
  margin-bottom: -1px;
  margin-top: -1px;
  font-size: inherit;
}
.zc-btn:active {
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
}
.zc-btn:hover {
  text-decoration: none;
}

.zc-btn--icon {
  border-radius: 35px;
  padding: 1em;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
  background-color: #621111;
  outline: none;
  color: white;
}

.zc-btn--link {
  color: #194b86;
  background: transparent;
  background-color: transparent;
}
.zc-btn--link:hover {
  color: #194b86;
  background-color: #eaeaea;
}
.zc-btn--link:focus {
  outline: none;
  background-color: transparent;
}
.zc-btn--link:active {
  box-shadow: inset 0 2px 0 #c6c6c6;
}

.zc-btn--block {
  display: block;
  width: 100%;
}
.zc-btn--block + .btn--block {
  margin-top: 7px;
}

.zc-btn--disabled {
  background-color: #dbdbdb;
  color: #7a7a7a;
  outline: none;
  cursor: not-allowed;
  pointer-events: none;
}
.zc-btn--disabled:hover {
  text-decoration: none;
  background-color: #dbdbdb;
  color: #7a7a7a;
}
.zc-btn--disabled:active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  box-shadow: inset 0 2px 0 #999999;
}

.zc-btn--group {
  display: inline-block;
  vertical-align: middle;
}
.zc-btn--group--item {
  float: left;
}
.zc-btn--group--item .zc-btn {
  border-radius: 0;
}
.zc-btn--group--item:first-child .zc-btn {
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
}
.zc-btn--group--item:last-child .zc-btn {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

#toast-container {
  content: '';
  display: table;
  clear: both;
  position: fixed;
  top: 95px;
  right: 20px;
  left: 20px;
  max-height: calc(100% - (20px * 2));
  overflow: auto;
  z-index: 99999;
}
@media screen and (max-width: 1280px) {
  #toast-container {
    top: 70px;
  }
}
@media screen and (max-width: 480px) {
  #toast-container {
    top: 60px;
  }
}
#toast-container.toast-top-full-width {
  top: 20px;
  right: 20px;
  left: 20px;
  width: auto;
}
#toast-container.toast-top-full-width .toast {
  width: auto !important;
}
#toast-container > .toast {
  position: relative;
  width: auto;
  min-height: 76px;
  min-width: 300px;
  padding: 20px 40px 20px 20px;
  font-family: 'Open Sans', sans-serif;
  border-radius: 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  background-color: #5b5b5b;
  background-image: none !important;
  opacity: 1;
}
#toast-container > .toast:before {
  -webkit-transform: translateX(-5px);
          transform: translateX(-5px);
}
#toast-container > .toast:hover {
  background-color: #7a7a7a;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
#toast-container > .toast .toast-close-button:hover,
#toast-container > .toast .toast-close-button:focus {
  color: white;
  opacity: 1;
}
#toast-container > .toast-success {
  background-color: #7fd666;
}
#toast-container > .toast-success:hover {
  background-color: #55c934;
}
#toast-container > .toast-error {
  background-color: #f96060;
}
#toast-container > .toast-error:hover {
  background-color: #f72c2c;
}
#toast-container > .toast-info {
  background-color: #5786bd;
}
#toast-container > .toast-info:hover {
  background-color: #1f5ea8;
}
#toast-container > .toast-warning {
  background-color: #ffc13f;
}
#toast-container > .toast-warning:hover {
  background-color: #ffad00;
}
#toast-container .toast-title {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 5px;
  width: 100%;
  padding: 0 10px;
  line-height: 1.414;
  color: #fff;
}
@media screen and (max-width: 480px) {
  #toast-container .toast-title {
    width: 80%;
  }
}
#toast-container .toast-message {
  padding: 0 10px;
  display: block;
  width: 100%;
  line-height: 1.414;
  color: #fff;
  margin: 0 auto;
}
@media screen and (max-width: 480px) {
  #toast-container .toast-message {
    width: 80%;
  }
}
#toast-container .toast-close-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  font-size: 24px;
  background: transparent;
  border: none;
  color: #fff;
}
@media screen and (min-width: 769px) {
  #toast-container {
    left: auto;
    width: 50%;
  }
}
@media screen and (min-width: 1025px) {
  #toast-container {
    width: 33.3333333333%;
  }
}
@media screen and (min-width: 1600px) {
  #toast-container {
    width: 25%;
  }
}

.zl-page--header {
  padding: 10px 0;
  margin-bottom: 30px;
}

.zl-page--content {
  padding: 15px 0;
  margin: 0;
}

.zl-page--content-inner {
  padding-bottom: 10px;
}

.zc-tabs .zc-tab--navigation .zc-tab--item a.active {
  color: #621111;
}

.zc-tab-indicator {
  background-color: #621111;
}

.zl-col--4.flex-center {
  -webkit-box-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
}